<div class="container-component">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <div class="logo">
        <img src="assets/images/logos/logo.png" alt="Space Cards Contest">
      </div>
      <h1 class="mat-h1">
        Choose how you want to access the game
      </h1>
      <div class="row">
        <div class="col"><img src="assets/images/social/facebook.png" alt="Facebook" (click)="entrar('facebook')"></div>
        <div class="col"><img src="assets/images/social/twitter.png" alt="Twitter" (click)="entrar('twitter')"></div>
        <div class="col"><img src="assets/images/social/google.png" alt="Google" (click)="entrar('google')"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
