mat-card.codigo-acesso {
	text-align: center;
	margin: 60px 16px 16px;
	background-color: rgba(0,0,0,.27);

	img {
		width: 120px;
		margin-top: -60px;
	}

	mat-card-content {
		h1 {
			letter-spacing: 1em;
			font-weight: 700;
		}
		button {
			width: 100%;
		}
	}
}