<mat-card class="mat-elevation-z6" *ngIf="carta">
  <mat-card-header>
    <img mat-card-avatar src="assets/images/icones/galaxias.svg" *ngIf="carta.category === 'Galaxy'">
    <img mat-card-avatar src="assets/images/icones/exoplanetas.svg" *ngIf="carta.category === 'Exoplanetas'">
    <img mat-card-avatar src="assets/images/icones/nebulosas.svg" *ngIf="carta.category === 'Nebulosas'">
    <mat-card-title>
      <h4 class="mat-h4">{{carta.name ? carta.name + ' - ' + carta.code : carta.code}}</h4>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="carta.images[0]" alt="">
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs backgroundColor="primary">
      <mat-tab label="Card">
        <mat-list>
          <mat-list-item>
            <h2 matLine class="mat-h2">
              Distance
              <div style="float: right; text-wrap: avoid;">{{carta.distance.display}}</div>
            </h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h2 matLine class="mat-h2">
              Brightness
              <div style="float: right; text-wrap: avoid;">{{carta.magnitude.display}}</div>
            </h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h2 matLine class="mat-h2">
              Major Axis Size
              <div style="float: right; text-wrap: avoid;">{{carta.majaxis.display}}</div>
            </h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h2 matLine class="mat-h2">
              Minor Axis Size
              <div style="float: right; text-wrap: avoid;">{{carta.minaxis.display}}</div>
            </h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h2 matLine class="mat-h2">
              Radial Velocity
              <div style="float: right; text-wrap: avoid;">{{carta.velocity.display}}</div>
            </h2>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="More information">
        <div class="descricao">
          {{carta.description}}
        </div>
      </mat-tab>
    </mat-tab-group>


  </mat-card-content>
</mat-card>