mat-card {
	background-color: rgba(0,0,0,0.2);
	border: solid 1px rgba(255,255,255,0.3);
	border-radius: 10px;
	padding: 0;

	img.mat-card-image {
		height: calc(30vw - 3px);
		width: calc(100vw - 34px);
		margin: 0;
	}

	mat-card-header {
		background-color: #534c8a;
		border-radius: 10px 10px 0 0;

		mat-card-title {
			h4.mat-h4 {
				margin-bottom: 0;
				padding-top: 8px;
			}
		}
	}

	mat-card-content {
		margin-top: -5px;

		div.descricao {
			padding: 7px;
		}
	}
}