<div class="container-component">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <button mat-raised-button>
            <img src="assets/images/icones/spaceship.svg">
            Create a room
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button>
            <img src="assets/images/icones/astronaut.svg">
           Join a private room
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button>
            <img src="assets/images/icones/moon.svg">
            Join an open room
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button routerLink="/core/game/cartas">
            <img src="assets/images/icones/telescope.svg">
            Explore
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>