
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Roboto');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-space-purple: (
		50 : #eaeaf1,
		100 : #cbc9dc,
		200 : #a9a6c5,
		300 : #8782ad,
		400 : #6d679c,
		500 : #534c8a,
		600 : #4c4582,
		700 : #423c77,
		800 : #39336d,
		900 : #29245a,
		A100 : #a79eff,
		A200 : #796bff,
		A400 : #4b38ff,
		A700 : #341fff,
		contrast: (
				50 : #000000,
				100 : #000000,
				200 : #000000,
				300 : #000000,
				400 : #ffffff,
				500 : #ffffff,
				600 : #ffffff,
				700 : #ffffff,
				800 : #ffffff,
				900 : #ffffff,
				A100 : #000000,
				A200 : #000000,
				A400 : #ffffff,
				A700 : #ffffff,
		)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$space-cards-contest-primary: mat-palette($md-space-purple);
$space-cards-contest-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$space-cards-contest-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$space-cards-contest-theme: mat-dark-theme($space-cards-contest-primary, $space-cards-contest-accent, $space-cards-contest-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($space-cards-contest-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body.app-theme {
	margin: 0;
	@include mat-typography-level-to-styles(mat-typography-config(), body-1);

	background-image: url("assets/images/background/1920x1080.jpg");
	@media (max-width: 599px) {
		background-image: url("assets/images/background/480x600.png");
		background-size: cover;
	}

	// ---------------------
	// Material Snack Bar Customizations
	// ---------------------
	.mat-snack-bar-container {
		&.mat-snack-bar-primary {
			background-color: mat-color($space-cards-contest-primary, 600);
			color: mat-contrast($space-cards-contest-primary, 600);
		}
		&.mat-snack-bar-accent {
			background-color: mat-color($space-cards-contest-accent, 600);
			color: mat-contrast($space-cards-contest-accent, 600);
		}
		&.mat-snack-bar-warn {
			background-color: mat-color($space-cards-contest-warn, 600);
			color: mat-contrast($space-cards-contest-warn, 600);
		}
	}

	// ---------------------
	// Material Dialog Customizations
	// ---------------------
	mat-dialog-container.mat-dialog-container {
		padding: 0;
	}

	// ---------------------
	// Material Forms Customizations
	// ---------------------
	mat-form-field {
		width: 100%;
	}

	// ---------------------
	// Material Forms Customizations
	// ---------------------
	mat-card {
		mat-card-header {
			div.mat-card-header-text {
				width: 100%;
			}
		}
	}

	// ---------------------
	// Material Forms in Material Dialog Customizations
	// ---------------------
	mat-dialog-container {
		background-color: #29245a;
		mat-card-content {
			input, ::placeholder {
				color: white;
				caret-color: white;
			}

			div.mat-form-field-wrapper {
				padding-bottom: 0.25em;
			}

			div.mat-form-field-underline {
				bottom: 0.25em;
			}

			mat-form-field {
				label.mat-form-field-label {
					color: white;
				}

				div.mat-form-field-underline {
					background-color: white;
				}

				&.mat-focused {
					label.mat-form-field-label {
						color: #a9a6c5;
					}
					span.mat-form-field-ripple {
						background-color: #a9a6c5;
					}
				}
			}
		}
	}
}

div.container-component {
	height: 100%;
	overflow-y: auto;

	div.row {
		display: flex;
		flex-direction: row;
	}

	div.col {
		flex: 1;
		margin-right: 20px;
	}

	div.col:last-child {
		margin-right: 0;
	}
}
